@model IEnumerable<DadosUniversitarios.ViewModels.ContratosViewModel>

@{
    ViewData["Title"] = "Listagem de Fornecedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="container py-4">
    <!-- Título da Página -->
    <div class="text-center mb-5">
        <h1 class="h3 font-weight-bold text-dark">Contratos</h1>
        <p class="text-muted">Aqui você pode editar e gerenciar os contratos disponíveis.</p>
    </div>

    <!-- Botões de Ações -->
    <div class="d-flex justify-content-between mb-4">
        <!-- Botão Voltar -->
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>

        <!-- Botão para Adicionar Empresa -->
        <a asp-action="Create" asp-controller="Fornecedores" asp-route-Id="Model.Id" class="btn btn-sm btn-success">
            <i class="fas fa-plus"></i> Adicionar Contrato
        </a>
    </div>


    <!-- Tabela de Cursos -->
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Serviço</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Contrato</th>
                        <th scope="col">Periodicidade</th>
                        <th scope="col">Vencimento contrato</th>                        
                        <th scope="col" class="text-center" width="200px">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Contrato.Servico.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Empresa.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Contrato.NumeroContrato)</td>
                            <td>@Html.DisplayFor(modelItem => item.Contrato.Periodicidade.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Contrato.VencimentoContrato)</td>                            
                            <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.Contrato.Id" class="btn btn-outline-primary btn-sm me-2">
                                    <i class="fas fa-edit"></i> 
                                </a>
                                <!-- Formulário para exclusão -->
                                <form asp-action="Delete" asp-route-id="@item.Contrato.Id" method="post" style="display:inline;"
                                      onsubmit="return confirm('Tem certeza que deseja excluir este curso?');">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">
                                        <i class="fas fa-trash"></i> 
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>
