@model DadosUniversitarios.Models.Pessoa

@{
    ViewData["Title"] = "Detalhes do aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container py-6">
    <!-- Título da Página -->
    <div class="text-center mb-5">
        <p class="text-muted">Detalhes do aluno</p>
        <h1 class="h3 font-weight-bold text-dark">@Model.Nome</h1>
    </div>

    <!-- Botões de Ações -->
    <div class="d-flex justify-content-between mb-4">
        <!-- Botão Voltar -->
        <a asp-action="Index" class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
        <!-- Botão para Adicionar Curso -->
        <a asp-action="AddCurso" asp-route-id="@Model.Id" class="btn btn-sm btn-success">
            <i class="fas fa-plus"></i> Adicionar Curso
        </a>
    </div>
    
    <!-- Cursos -->
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title">Cursos</h5>
            @if (Model.Curso.Any())
            {
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col" class="text-center" width="200px">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var curso in Model.Curso)
                        {
                            <tr>
                                <td>@curso.Nome</td>
                                <td class="text-center">
                                    <!-- Formulário para exclusão -->
                                    <form asp-action="RemoverCurso" asp-route-alunoId="@Model.Id" asp-route-cursoId="@curso.Id" method="post" sty method="post" style="display:inline;"
                                          onsubmit="return confirm('Tem certeza que deseja remover esse curso?');">
                                        <button type="submit" class="btn btn-outline-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-muted">Nenhum curso vinculado a este aluno.</p>
            }

        </div>
    </div>
    <br />
    <br />


    <!-- Botões de Ações -->
    <div class="d-flex justify-content-end mb-4">
        <!-- Botão para Adicionar Disciplina -->
        <a asp-action="AddDisciplina" asp-route-id="@Model.Id" class="btn btn-sm btn-success">
            <i class="fas fa-plus"></i> Adicionar Disciplina
        </a>
    </div>
   
    <!-- Disciplinas -->
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title">Disciplinas</h5>
            @if (Model.Disciplina.Any())
            {
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col" class="text-center" width="200px">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var disciplina in Model.Disciplina)
                        {
                            <tr>
                                <td>@disciplina.Nome</td>
                                <td class="text-center">
                                    <!-- Formulário para exclusão -->
                                    <form asp-action="Remover" asp-route-alunoId="@Model.Id" asp-route-disciplinaId="@disciplina.Id" method="post" sty method="post" style="display:inline;"
                                          onsubmit="return confirm('Tem certeza que deseja remover essa disciplina?');">
                                        <button type="submit" class="btn btn-outline-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-muted">Nenhuma disciplina vinculada a este aluno.</p>
            }

        </div>
    </div>
    <br />

    

</main>
